!!! XML
!!!
%html
  %head
    %meta{ 'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
  %title= @title
  %body
    %div#container
      %h1= @title
      - if not @twitter
        %a(title='OAuth Login' href='/request_token')
          %img(src='sign-in-with-twitter-l.png')
      - if @twitter
        %a(title='logout' href='/logout')Logout
        %h3= 'Login now! Show your home_timeline'
        %hr/
        - @twitter.home_timeline.each do |status|
          %p= status.user.name
          %p= status.text
          %hr/
